/.vscode
/deps
/docs/.vuepress/dist
/node_modules

# External repos
/docs/BTCPayServer
/docs/Configurator
/docs/Docker
/docs/Grandnode
/docs/Nopcommerce
/docs/Xenforo
/docs/Transmuter
/docs/NBXplorer
/docs/Vault
/docs/Zapier
/docs/Nostr
/docs/Smartstore
/docs/TicketTailor
/docs/Trocador
/docs/Wabisabi
/docs/.vuepress/public/API/Greenfield/**/*.json

# Files copied from external repos
/docs/img/fastsync
/docs/img/btcpayexposecloudflare*
/docs/img/cloudflare*
/docs/img/Cloudflare*
/swagger/plugins/btcpay.json

# Constructed docs
/docs/Development/LocalDevelopment.md
.idea
