// https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/core/lib/client/style/config.styl

// colors
$accentColor = #51B13E
$codeBgColor = #222222

// layout
$navbarHeight ?= 3.6rem
$sidebarWidth ?= 20rem
$contentWidth ?= 740px
$homePageWidth ?= 960px

// responsive breakpoints
$MQNarrow = 999px
$MQMobile = 899px
$MQMobileNarrow = 419px
